<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals ABC</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
   <main>
    <div>
        <p>Add interesting animals to the list below!</p>
        <a href="/animal/new"><input type="submit" value="ADD NEW ANIMAL"/></a>
        <div class="row">
            <div class="column">
                <img src="https://static01.nyt.com/images/2017/03/07/science/07sci-boobies-social/07sci-boobies-social-superJumbo.jpg" alt="Blue-Footed Booby" style="width:100%; height:300px">
            </div>
            <div class="column">
                <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcTKaqt2Y9cHAd2h9HdziG9aLBqbwglMfdPxJf3-1N1DmXwIxqBHPa8Iwvj-T0wPtGMgb3Vfs54GjmCqQ3g" alt="Aardvark" style="width:100%; height:300px">
            </div>
            <div class="column">
                <img src="https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcShhts0nixkYnI_vuaYNJU4oPotomjmfB95rxi_U2f0J-vrU4EKCdZTyomCwGLVEhRYXcCJQ7w2iaLj7GI" alt="California Sea Lion" style="width:100%; height:300px">
            </div>
        </div>
        <h4>List of Animals:</h4>
        <% for (animal of animals) { %>
            <articles>
                <a href="/animal/<%=animal._id%>">
                <p>
                    <%= animal.name %>
                </p></a>
            </articles>
        <% } %>
    </div>
   </main>
</body>
</html>