<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals ABC</title>
</head>
<body>
   <nav>
        <a href="/animal/new">Add a New Animal</a>
   </nav>
   <h1>Animals ABC</h1>
</body>
</html>